*.ms13 (Security copy)
*.ewprj (Security copy)
*.log
hardware/pcb/remote_node@2014-09-05-2213.ewnet
hardware/pcb/remote_node@2014-09-05-2236.ewnet
hardware/pcb/remote_node@2014-09-05-2326.ewnet
hardware/pcb/remote_node@2014-09-05-2327.ewnet
hardware/pcb/remote_node@2014-09-05-2329.ewnet
hardware/pcb/remote_node@2014-09-05-2331.ewnet
hardware/pcb/remote_node@2014-09-06-1157.ewnet
hardware/pcb/remote_node@2014-09-06-1325.ewnet
hardware/exterior/standard_components/~$Battery.SLDPRT
hardware/exterior/standard_components/~$battery_holder_body.SLDPRT
hardware/exterior/standard_components/~$end_plug.SLDPRT
hardware/exterior/standard_components/~$end_plug_pin.SLDPRT
hardware/exterior/standard_components/~$spring.SLDPRT
hardware/exterior/standard_components/~$spring_pin.SLDPRT
hardware/exterior/~$battery_assembly.SLDASM
hardware/exterior/~$casing.SLDPRT
hardware/exterior/~$casing_lower.SLDPRT
hardware/exterior/casing_lower_ear.SLDPRT
hardware/pcb/remote_node@2014-09-11-2049.ewnet
hardware/pcb/remote_node@2014-09-12-1654.ewnet
hardware/pcb/remote_node@2014-09-12-1919.ewnet
hardware/pcb/remote_node_bak.ewprj
hardware/pcb/remote_node@2014-09-15-1817.ewnet
hardware/pcb/remote_node@2014-09-15-1819.ewnet
hardware/pcb/remote_node@2014-09-15-1832.ewnet
hardware/pcb/remote_node@2014-09-16-2109.ewnet
hardware/pcb/remote_node@2014-09-16-2126.ewnet
hardware/pcb/simulations/remote_node@2014-09-17-2114.ewnet
hardware/pcb/simulations/remote_node@2014-09-17-2110.ewnet
hardware/pcb/simulations/remote_node@2014-09-17-2111.ewnet